{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["last 2 versions"]
        }
    }],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env"], 
        "@babel/preset-react"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
