{
  "root": true,
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
      "browser": true,
      "jest": true
    },
    "rules": {
      "import/extensions": 0,
      "import/no-unresolved": "off",
      "import/no-extraneous-dependencies": 0,
      "function-paren-newline": 0,
      "react/prefer-stateless-function": 0,
      "react/no-array-index-key": 0
    },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": ['.js','.jsx']
        }
      },
    }
}
